:root {
  --primary-color: #0037c1;
  --secondary-color: #121212;
  --tertiary-color: #1c1c1c;
  --on-tertiary-color: #3a3a3a;
  --text-color: white;
  --base-font-size: 14px;
}

body, html {
  font-size: var(--base-font-size) !important;
}

.card, .list-group-item, .Button, .btn, .card-title, .mb-1, .mb-2, .vat, .form-label, .form-control, .form-select, .navbar, .container, .row, .col, .d-flex, .d-block, .d-inline, .d-inline-block, .d-md-block, .d-md-inline, .d-md-inline-block {
  font-size: 0.97em !important;
}

@media (max-width: 767.98px) {
  :root {
    --base-font-size: 13px;
  }
  .card, .list-group-item, .Button, .btn, .card-title, .mb-1, .mb-2, .vat, .form-label, .form-control, .form-select, .navbar, .container, .row, .col, .d-flex, .d-block, .d-inline, .d-inline-block, .d-md-block, .d-md-inline, .d-md-inline-block {
    font-size: 0.93em !important;
  }
}

body {
  background-color: var(--secondary-color) !important;
  color: var(--text-color);
}

.btn,
.btn-primary,
.btn-outline-primary.active,
.btn-outline-primary:active,
.btn-outline-primary:hover {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-outline-primary {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  background-color: transparent !important;
}

.Button {
  border-radius: 5px;
  color: var(--text-color) !important;
  padding: 10px 20px;
  cursor: pointer;
}

.Button:hover {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
}
.card {
  background-color: var(--tertiary-color) !important;
  color: var(--text-color) !important;
  border: 1px solid #232323;
}

.vat {
  color: white !important;
}

.card img,
.img-fluid.rounded.mb-3.w-100 {
  height: 140px !important;
  max-width: 100%;
  object-fit: cover;
}

@media (max-width: 767.98px) {
  .card img,
  .img-fluid.rounded.mb-3.w-100 {
    height: 100px !important;
  }
}